[book]
authors = ["Starknet community, with support from Starkware and Voyager"]
language = "en"
multilingual = false
src = "src"
title = "The Cairo Programming Language"

[build]
extra-watch-dirs = ["po", "listings"]

[preprocessor.cairo]
after = ["links"]

[preprocessor.gettext]
after = ["cairo"]

[preprocessor.quiz-cairo]
after = ["gettext"]

[output.html]
git-repository-url = "https://github.com/cairo-book/cairo-book.github.io"
edit-url-template = "https://github.com/cairo-book/cairo-book.github.io/edit/main/{path}"
playground.runnable = true
google-analytics = "G-0ZJLBV4KE2"
additional-css = ["theme/css/last-changed.css", "theme/css/chat.css"]
additional-js = ["theme/chat.js"]
mathjax-support = true

[output.html.code.hidelines]
cairo = "# "

[output.html.fold]
enable = true
level = 2

[output.markdown]
