name: Install mdbook and dependencies
description: Install mdbook with the dependencies we need.
runs:
  using: composite
  steps:
    - name: Install mdbook
      shell: bash
      run: |
        mkdir -p "${HOME}/.cargo/bin"
        curl -sSL https://github.com/rust-lang/mdBook/releases/download/v0.4.48/mdbook-v0.4.48-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory="${HOME}/.cargo/bin"
        echo "${HOME}/.cargo/bin" >> ${GITHUB_PATH}

    - name: Install mdbook-i18n-helpers
      shell: bash
      run: cargo install mdbook-i18n-helpers --locked --version 0.3.5

    - name: Install mdbook-last-changed
      shell: bash
      run: |
        mkdir -p "${HOME}/.cargo/bin"
        curl -sSL https://github.com/badboy/mdbook-last-changed/releases/download/v0.1.4/mdbook-last-changed-v0.1.4-x86_64-unknown-linux-gnu.tar.gz | tar -xz --directory="${HOME}/.cargo/bin"
        echo "${HOME}/.cargo/bin" >> ${GITHUB_PATH}

    - name: Install mdbook-cairo
      shell: bash
      run: |
        cargo install --git https://github.com/enitrat/mdbook-cairo --locked

    - name: Install cargo-make
      uses: baptiste0928/cargo-install@v2
      with:
        crate: cargo-make

    - name: Install Depot
      shell: bash
      run: |
        curl https://raw.githubusercontent.com/cognitive-engineering-lab/depot/main/scripts/install.sh | sh
        echo "$HOME/.local/bin" >> ${GITHUB_PATH}

    - name: Clone mdbook-quiz-cairo repository
      shell: bash
      run: |
        git clone https://github.com/cairo-book/mdbook-quiz-cairo
        cd mdbook-quiz-cairo
        git checkout b7450fdf51eafec73dbee0d6afe873e5f3979b28

    - name: Initialize bindings
      shell: bash
      run: cargo make init-bindings
      working-directory: mdbook-quiz-cairo

    - name: Install mdbook-quiz-cairo
      shell: bash
      run: cargo install --path crates/mdbook-quiz-cairo --locked
      working-directory: mdbook-quiz-cairo
