name: Install mdbook and dependencies

description: Install mdbook with the dependencies we need.

runs:
  using: composite
  steps:
    - name: Install mdbook
      run: cargo install mdbook --locked --version 0.4.31
      shell: bash

    - name: Install mdbook-i18n-helpers
      run: cargo install mdbook-i18n-helpers --locked --version 0.1.0
      shell: bash

    - name: Install mdbook-last-changed
      run: cargo install mdbook-last-changed --locked --version 0.1.4
      shell: bash

    - name: Install mdbook-cairo preprocessor
      run: cargo install --path mdbook-cairo --locked
      shell: bash

    - name: Install cargo-make
      run: cargo install cargo-make --locked
      shell: bash

    - name: Install Depot
      run: curl https://raw.githubusercontent.com/cognitive-engineering-lab/depot/main/scripts/install.sh | sh
      shell: bash

    - name: Clone mdbook-quiz-cairo repository
      run: |
        git clone https://github.com/cairo-book/mdbook-quiz-cairo
        cd mdbook-quiz-cairo
      shell: bash

    - name: Initialize bindings
      run: cargo make init-bindings
      shell: bash
      working-directory: mdbook-quiz-cairo

    - name: Install mdbook-quiz-cairo
      run: cargo install --path crates/mdbook-quiz-cairo --locked
      shell: bash
      working-directory: mdbook-quiz-cairo
