/* Globals */

:root {
  --sidebar-width: 300px;
  --page-padding: 15px;
  --content-max-width: 750px;
  --menu-bar-height: 50px;
  --mono-font: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo,
    "DejaVu Sans Mono", monospace, monospace;
  --code-font-size: 0.875em
    /* please adjust the ace font size accordingly in editor.js */
  ;
}

/* Themes */
.light {
  --bg: #FFFFFF;
  --fg: #333333;

  --sidebar-bg: #F7F7F7;
  --sidebar-fg: #333333;
  --sidebar-non-existant: #A6A6A6;
  --sidebar-active: #FF4A4A;
  --sidebar-spacer: #DDDDDD;

  --scrollbar: var(--sidebar-fg);

  --icons: #333333;
  --icons-hover: #FF4A4A;

  --links: #FF4A4A;

  --inline-code-color: #4D4D4D;

  --theme-popup-bg: #F0F0F0;
  --theme-popup-border: #A0A0A0;
  --theme-hover: #EAEAEA;

  --quote-bg: hsl(226, 33%, 95%);
  --quote-border: hsl(7, 10%, 75%);

  --table-border-color: #E0E0E0;
  --table-header-bg: #F5F5F5;
  --table-alternate-bg: #FAFAFA;

  --searchbar-border-color: #CCCCCC;
  --searchbar-bg: #F9F9F9;
  --searchbar-fg: #333333;
  --searchbar-shadow-color: #999999;
  --searchresults-header-fg: #333333;
  --searchresults-border-color: #CCCCCC;
  --searchresults-li-bg: #EEEEEE;
  --search-mark-bg: #FFCCCC;

  --nav-button-color: #f2f2f2;
  --nav-button-text-color: #FF4A4A;
}

.dark {
  --bg: #000000;
  --fg: #BDBDBD;

  --sidebar-bg: #000000;
  --sidebar-fg: #BDBDBD;
  --sidebar-non-existant: #BDBDBD;
  --sidebar-active: #FF4A4A;
  --sidebar-spacer: #3c3c3c;


  --scrollbar: var(--sidebar-fg);

  --icons: #BDBDBD;
  --icons-hover: #FF4A4A;

  --links: #FF4A4A;

  --inline-code-color: #c5c8c6;

  --theme-popup-bg: #201c1c;
  --theme-popup-border: #80737e;
  --theme-hover: #1C1C1C;

  --quote-bg: hsl(226, 15%, 17%);
  --quote-border: hsl(7, 15%, 22%);

  --table-border-color: #1C1C1C;
  --table-header-bg: #1C1C1C;
  --table-alternate-bg: #1C1C1C;

  --searchbar-border-color: #464646;
  --searchbar-bg: #201c1c;
  --searchbar-fg: #BDBDBD;
  --searchbar-shadow-color: #aaa;
  --searchresults-header-fg: #5f5f71;
  --searchresults-border-color: #5c5c68;
  --searchresults-li-bg: #242430;
  --search-mark-bg: #e89999;

  --nav-button-color: #301c1c;
  --nav-button-text-color: #ffccd4;
}

@media (prefers-color-scheme: dark) {
  .light.no-js {
    --bg: hsl(200, 7%, 8%);
    --fg: #98a3ad;

    --sidebar-bg: #292c2f;
    --sidebar-fg: #a1adb8;
    --sidebar-non-existant: #505254;
    --sidebar-active: #3473ad;
    --sidebar-spacer: #393939;

    --scrollbar: var(--sidebar-fg);

    --icons: #43484d;
    --icons-hover: #b3c0cc;

    --links: #2b79a2;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #141617;
    --theme-popup-border: #43484d;
    --theme-hover: #1f2124;

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --table-border-color: hsl(200, 7%, 13%);
    --table-header-bg: hsl(200, 7%, 28%);
    --table-alternate-bg: hsl(200, 7%, 11%);

    --searchbar-border-color: #aaa;
    --searchbar-bg: #b7b7b7;
    --searchbar-fg: #000;
    --searchbar-shadow-color: #aaa;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #98a3ad;
    --searchresults-li-bg: #2b2b2f;
    --search-mark-bg: #355c7d;
  }
}