[[questions]]
type = "Tracing"
prompt.program = """
    struct Student {
        name: felt252,
        age: u8,
        isActive: bool,
    }

    fn main(){
        let mut student1 = Student {name: 'John Doe', age: 20, isActive: true, };

        let mut age = student1.age;
        age = 18;

        println!("{}", student1.age)
    }

"""
answer.doesCompile = true
answer.stdout = "12";

[[questions]]
type = "Tracing"
prompt.program = """
#[derive(Drop)]
#[derive(Copy)]
struct Student {
    name: felt252,
    age: u8,
    isActive: bool,
    isPunctual: bool,
}

fn main(){
    let mut student1 = Student{
        name: 'John Doe', age: 18, isActive: true, isPunctual: true
    };

    let mut student2 = Student{
        ..student1
    };

    student1.age += 2;

    println!("{}", student2.age);
}
"""
answer.doesCompile = true
answer.stdout = 18;

