[[questions]]
type = "Tracing"
prompt.program = """
struct Student {
    name: felt252,
    age: u8,
    isActive: bool,
}

fn main(){
    let mut student1 = Student { name: 'John Doe', age: 20, isActive: true, };

    let mut age = student1.age;
    age = 18;

    println!("{}", student1.age)
}
"""
answer.doesCompile = true
answer.stdout = "20"
id = "e1601751-2765-4260-8c09-d9b7c0a90b35"

[[questions]]
type = "Tracing"
prompt.program = """
#[derive(Copy, Drop)]
struct Student {
    name: felt252,
    age: u8,
    isActive: bool,
    isPunctual: bool,
}

fn main() {
    let mut student1 = Student { 
        name: 'John Doe', age: 18, isActive: true, isPunctual: true
    };
    student1.age += 1;
    let mut student2 = Student { ..student1 };
    student1.age += 2;
    println!("{}", student2.age);
}
"""
answer.doesCompile = true
answer.stdout = "19"
id = "7acf4d1f-1f17-44cb-b95f-6c3a8e32b0cd"
