name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  compile_and_verify:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Scarb
        uses: software-mansion/setup-scarb@v1

      - name: Setup Starknet-Foundry
        uses: foundry-rs/setup-snfoundry@v3

      - name: Setup Rust cache
        uses: ./.github/workflows/setup-rust-cache

      - name: Install mdbook
        uses: ./.github/workflows/install-mdbook

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install JS dependencies
        run: |
          cd mdbook-quiz-cairo/js
          npm install  # Ou yarn install

      - name: Build book (English)
        run: mdbook build -d book

      - name: Install cairo-listings
        run: cargo install --path cairo-listings --locked
        shell: bash

      - name: Run cairo-listings and generate summary
        run: cairo-listings verify >> $GITHUB_STEP_SUMMARY
        shell: bash

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@master
