name: Check Markdown links

on:
  push:
    branches:
      - main

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install link checker dependencies
        working-directory: scripts
        run: |
          bun install --frozen-lockfile
      - name: Run link checker
        working-directory: scripts
        run: |
          bun run check-links
